{% extends "layout.html" %}
{% block title %}POST{% endblock %}
{% block page %}POST{% endblock %}
{% block style %}

{% endblock %}
{{ super() }}

{% block content %}
    <h1 class="center-align">Welcome {{ current_user.username }}</h1>
    <main class="container">

        <div class="card" >
          <div class="card-content">
            <span class="card-title">Create Post</span>
            <form name="addForm" method="POST" action="/createPost">
              <div class="input-field">
                <input type="text" name="text" placeholder="enter to-do" class="materialize-textarea"></textarea>
                <label for="text">Enter a Post</label>
              </div>
              <input class="btn blue white-text" type="submit" value="POST" />
            </form>
          </div>
        </div>
        <ul class="collection with-header" id="result">
            {% if current_user.is_authenticated %}
                {% for post in posts %}
                    <li class="card collection-item col s12 m4">
                        <form id="todoForm{{post.id}}" class="card-content">
                          <span class="card-title">Author: {{post.user.username}}
                            <p> {{post.text}} </p>                          
                        </form>
                        
                          
                        
                            <br/>
                                  <div class="row">
                                  <div class="col">
                                    likes: {{tLikes}}
                                  </div>
                                  <div class="input-field s6 col s3">
                                  <form id="postForm{{post.id}}" method="POST" action="updatePost/{{post.id}}">  
                                
                                  <select name="react" type="submit" class="browser-default waves-effect waves-light btn" onchange="postForm{{post.id}}.submit()" >
                                    <option value="none">Like or dislike</option>
                                    <option name="like" value="like">Like</option>
                                    <option value="dislike">Dislike</option>
                                  </select>
                                  </form>
                                
                                  </div>
                                {% if current_user.username == post.user.username %}
                                 <div class="col s3">
                                  <a class="btn" href="/deletePost/{{post.id}}">DELETE</a>
                                 </div>
                              {% endif %}
                              
                            </div>
                          
                    </li>
                {% endfor %}
            {% endif %}
        </ul>  
    </main>
    

{% endblock %}