{% extends "layout.html" %}
{% block title %}POST{% endblock %}
{% block page %}POST{% endblock %}
{% block style %}

{% endblock %}
{{ super() }}

{% block content %}
    <h1 style="text-align: center;">Welcome {{ current_user.username }}</h1>
    <main class="container">
      <div class="row">
        <div class="col d-flex justify-content-center">
        <div class="card" style="width:40%; align-content: center ;" >
          <div class="card-body">
            <span class="card-title">Create Post</span>
            <form name="addForm" method="POST" action="/createPost">
              <div class="input-group">
                <textarea name="text" class="form-control" aria-label="With textarea"></textarea>
              </div><br/>
              <input class="btn btn-primary" type="submit" value="ADD POST" />
            </form>
          </div>
        </div>
        </div>

        </div><br/>
        
       
        
        
        <div class="wick">
            {% if current_user.is_authenticated %}
                {% for post in posts %}
                
                <div class="row">
                  <div class="col d-flex justify-content-center">
                    <div class="card" style="width:70%; margin-bottom:10px;">
                        <form id="todoForm{{post.id}}" class="card-body">
                          <span class="card-title"><h2>Author: {{post.user.username}}</h2>
                            <p class="card-text"> {{post.text}} </p>                          
                        </form>
                        
                          
                        
                           
                        <div class="d-flex flex-row bd-highlight mb-3">
                          <div class="p-2 flex-fill">
                                    {% for result in results %}
                                      {% if result.id == post.id %}
                                        likes: {{result.num_likes}}
                                      {% endif %}
                                    {% endfor %}
                                  
                                  
                                    {% for result in results %}
                                      {% if result.id == post.id %}
                                        dislikes: {{result.num_dislikes}}
                                      {% endif %}
                                    {% endfor %}
                                    
                              </div>
                        
                        <div class="p-2 flex-fill">
                                  <form id="postForm{{post.id}}" method="POST" action="updatePost/{{post.id}}">  
                                
                                  <select id="mySelect" name="react" type="submit" class="form-control" onchange="postForm{{post.id}}.submit()" >
                                    <option value="none">Like or dislike</option>
                                    <option name="like" value="like">Like</option>
                                    <option value="dislike">Dislike</option>
                                  </select>
                                  </form>
                                
                                  </div>
                                {% if current_user.username == post.user.username %}
                                <div class="p-2 flex-fill">
                                  <a class="btn btn-primary" href="/deletePost/{{post.id}}">DELETE</a>
                                 </div>
                              {% endif %}
                              
                            </div>
                          
                          </div>
                  </div>
                </div>

                {% endfor %}
            {% endif %}
              </div>
      
    </main>
    

{% endblock %}